body {
  margin: 0;
  box-sizing: border-box;
}
#hero {
  background-image: url('../img/hero-background.png');
  height: 500px;
  background-size: cover;
  background-position: center;
}
#jumbotron {
  clear: both;
}
ul {
  list-style: none;
}
ul li {
  display: inline;
}
ul li a {
  text-decoration: none;
}
.full-width {
  width: 100%;
  clear: both;
}
.half-width {
  width: 50%;
  float: left;
}
.third-width {
  width: 33.33%;
  float: left;
  text-align: center;
}
