body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}
h1, h2, h3, nav {
  font-family: 'Lato', sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
  transition: .3s;
}
ul {
  list-style: none;
}
img {
  display: block;
  margin: 0 auto;
}
#projects, #about, #contact, #copyright {
  overflow: auto;
  clear: both;
  padding: 20px 0;
}
/*** UTILITY DIV CLASSES ***/
.full-width {
  width: 100%;
  clear: both;
}
.middle-col {
  width: 66.6%;
  margin: auto;
}
.half-width {
  box-sizing: border-box;
  width: 50%;
  float: left;
}
.third-width {
  width: 33.3%;
  float: left;
}
figcaption {
  text-align: center;
  margin-top: 30px;
}
figcaption a {
  border: 1px solid #1e90ff;
  border-radius: 3px;
  color: #1e90ff;
  padding: 10px 30px 10px 30px;
  transition: .3s;
}
figcaption a:hover {
  color: #ffffff;
  background: #1e90ff;
}
/*** HEADER STYLES ***/
header {
  background-color: #1e90ff;
  color: #ffffff;
  overflow: auto;
}
header h1, nav {
  font-size: 24px;
  font-weight: 300;
}
header h1 {
  padding-top: 10px;
  padding-left: 30px;
  padding-bottom: 10px;
}
nav {
  text-align: right;
  padding-right: 30px;
}
nav ul {
  word-spacing: 30px;
}
nav ul li {
  display: inline;
}
nav ul li a:hover {
  color: #000000;
}
#jumbotron {
  position: relative;
  left: 20px;
  top: 100px;
  margin: 10px;
  font-size: 80px;
}
#jumbotron span {
  color: #000000;
}
#hero {
  background-image: url('../img/robot-costume.jpg');
  height: 100vh;
  background-size: cover;
  background-position: bottom left;
}
/*** WORK SECTION ***/
.subhead {
  color: #1e90ff;
  font-size: 40px;
  margin: 10px 10px 10px 30px;
  text-transform: lowercase;
}
.veil {
  box-sizing: border-box;
  width: 45%;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 10px;
  margin: 20px;
  padding: 0;
  background: #1e90ff;
  float: left;
  transition: .3s;
}
.veil img {
  border: 1px solid #000000;
  width: 100%;
  transition: .3s;
}
.veil:hover img {
  border: 1px solid #1e90ff;
  opacity: .3;
}
.veil:hover .img-description {
  opacity: 1;
}
.img-description {
  position: absolute;
  bottom: 30px;
  left: 30px;
  color: #ffffff;
  opacity: 0;
  transition: .3s;
}
.img-description h3, .img-description p {
  margin-bottom: 0;
  padding: 0;
}
.img-description a:hover {
  color: inherit;
}
/*** ABOUT SECTION ***/
#about {
  background: #f6faff;
}
#ryan {
  width: 33.33%;
  border-radius: 50%;
}
/*** FOOTER STYLES ***/
footer div {
  text-align: center;
}
#contact a:hover {
  color: #1e99ff;
}
.social-badge {
  width: 40px;
  height: auto;
  padding: 10px;
  display: inline;
}
#copyright {
  background: #1e90ff;
}
#copyright a:hover {
  color: #ffffff;
}
/*** RESPONSIVE MEDIA QUERY ***/
@media screen and (max-width: 768px) {
  body {
    padding: 0;
    margin: 0;
  }
  .half-width, .third-width, .full-width {
    width: 100%;
    float: none;
    margin: 20px auto;
    text-align: center;
  }
  nav, #marquee, #jumbotron {
    position: static;
    margin: 0 auto;
    text-align: center;
  }
  .veil {
    width: 66.66%;
    float: none;
    margin: 10px auto;
  }
  #ryan {
    width: 66.66%;
  }
}
