body {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  color: #000000;
}
body div {
  box-sizing: border-box;
}
header {
  background-color: #1e90ff;
}
h1, nav {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
h1 {
  font-size: 60px;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 25px;
  margin-bottom: 0;
}
p {
  font-family: 'Open Sans', sans-serif;
  line-height: 30px;
  margin: 10px 0;
}
a {
  text-decoration: none;
  color: inherit;
  transition: 0.3s;
}
a:hover, #jumbotron span {
  color: #000000;
}
ul {
  list-style: none;
}
ul li {
  margin-top: 15px;
}
nav {
  margin-right: 50px;
  color: #ffffff;
  text-align: right;
  vertical-align: middle;
}
nav ul {
  margin: 20px;
  word-spacing: 30px;
}
nav ul li {
  display: inline-block;
}
section div, footer div {
  padding: 20px;
}
figcaption {
  text-align: center;
}
figcaption a {
  position: relative;
  top: 10px;
  border: 1px solid #1e90ff;
  border-radius: 3px;
  color: #1e90ff;
  padding: 10px 30px 10px 30px;
  transition: .3s;
}
figcaption a:hover {
  color: #ffffff;
  background: #1e90ff;
}
footer {
  text-align: center;
}
.full-width {
  width: 100%;
  clear: both;
  overflow: auto;
}
.half-width {
  width: 50%;
  float: left;
}
.third-width {
  width: 33.33%;
  float: left;
}
.subhead {
  margin: 0;
  position: relative;
  top: 10px;
  left: 20px;
  font-size: 50px;
  font-weight: bold;
  text-transform: lowercase;
  text-align: left;
  color: #1e90ff;
}
.veil {
  width: 45%;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 20px;
  padding: 0;
  float: left;
  background-color: #1e90ff;
  transition: .3s;
}
.veil img {
  border: 1px solid #ffffff;
}
.veil:hover img {
  border: 1px solid #1e90ff;
  opacity: .3;
}
.veil:hover .img-description {
  opacity: 1;
}
.img-description {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #ffffff;
  opacity: 0;
  transition: .3s;
}
.img-description h3, .img-description p {
  margin-bottom: 0;
  padding: 0;
}
.img-description a:hover {
  color: #ffffff;
}
.logo {
  width: 40px;
  height: auto;
  padding: 10px;
}
.project-image {
  display: block;
  margin: 0 auto;
  padding: 30px 0;
  max-width: 100%;
}
#marquee {
  margin: 20px;
  font-size: 24px;
  color: #ffffff;
  text-align: left;
}
#hero {
  background-image: url('../img/robot-costume.jpg');
  height: 100vh;
  background-size: cover;
  background-position: bottom left;
}
#jumbotron {
  font-size: 80px;
  position: relative;
  top: 70px;
  left: 50px;
  color: #ffffff;
}
#work img, #about img {
  display: block;
  margin: auto;
}
#work img {
  width: 100%;
}
#about {
  background: #f6faff;
}
#bio {
  width: 66.66%;
  margin: 0 auto;
}
#bio a {
  color: #1e90ff;
}
#bio a:hover {
  color: #000000;
}
#ryan {
  width: 20%;
  border: 2px solid #ffffff;
  border-radius: 50%;
  margin: 0 auto;
}
#contact a {
  color: inherit;
}
#contact a:hover {
  color: #1e90ff;
}
#copyright {
  color: #ffffff;
  background: #1e90ff;
  font-size: 18px;
  font-weight: 300;
}
@media screen and (max-width: 768px) {
  .veil, .half-width, .third-width, .full-width{
    width: 100%;
    float: none;
    margin: 20px auto;
    text-align: center;
  }
  nav, #marquee {
    text-align: center;
  }
  #jumbotron {
    position: static;
  }
  #ryan {
    width: 100%;
  }
}
